*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(246, 244, 118);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-frente, .cartao-verso {
    width: 100px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aqua;
}

main{
    flex: 1;
}

.cabecalho-link {
    color: blue;
    text-decoration: none;
}

h1 {
    color: blueviolet;
    font-size: 18px;
}

footer{
    background-color: deeppink;
    padding: 15px 25px;
    color: rgb(246, 81, 44);
}